.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.view {
  background-color: #d1d1d1;
  border: 3px solid #000000;
  color: #ffffff;
  width: 75vw;
  height: 20vh;
  margin-top: 1vh;
}

.button{
  background-color: #bdbdbd;
  border-width: 2px;
  border-style: outset;
  border-color: #d3d3d3;
  border-image: initial;
}

.button:active{
  border-color: #bdbdbd;
}


.numbers{
  background-color: #494C53;
  color: #ffffff;
  border-width: 2px;
  border-style: outset;
  border-color: #626f78;
  border-image: initial;
}

.numbers:active{
  border-color: #494C53;
}

.operators{
  background-color: darkcyan;
  border-width: 2px;
  border-style: outset;
  border-color: #00a5a5;
  border-image: initial;
}

.operators:active{
  border-color: darkcyan;
}
*:focus {
  outline: 0 !important;
}

.buttons{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0em;
  height: 45vh;
}

.finalgrid{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  height: 15vh;
}

.specialButtons{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  height: 15vh;
}

.btn{
  grid-column: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
